.btn-red {
    background-color: red;
    color: white;
}
.btn-green {
    background-color: green;
    color: white;
}

.header-black {
    background-color: #000  !important;
    color: #fff;  /* Couleur de texte blanche pour une meilleure lisibilité sur fond noir */
}

.o_list_renderer .o_list_table thead .o_list_number_th {
    text-align: center;
}

th {
    text-align: center;
}